/node_modules
/public/hot
/public/ads_images
/public/event_images
/public/user_images
/public/storage
/storage/*.key
/vendor
/nbproject
/.idea
/.git
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
