@font-face {
    font-family: 'TimeBurner';
    src: url('../fonts/TimeBurner-Bold.eot');
    src: url('../fonts/TimeBurner-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TimeBurner-Bold.woff') format('woff'),
        url('../fonts/TimeBurner-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TimeBurner';
    src: url('../fonts/TimeBurner.eot');
    src: url('../fonts/TimeBurner.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TimeBurner.woff') format('woff'),
        url('../fonts/TimeBurner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{font-family:'Open Sans',sans-serif !important; background: #f5f5f5;}
header.header .logo img { max-width: 190px; }
ul{padding:0;margin:0; list-style: none;}
.mc-hide-scrolls{overflow:hidden}
img{max-width: 100%;}
section, header, footer {float: left; width: 100%;}
section { background: #fff none repeat scroll 0 0; }
a{-webkit-transition:all .4s;-moz-transition:all .4s;-ms-transition:all .4s;transition:all .4s; text-decoration: none !important;}
body .mc-cycle{height:100%;left:0;overflow:hidden;position:absolute;top:0;width:100%;z-index:-1;height:633px!important}
div.mc-image{-webkit-transition:opacity 1s ease-in-out;-moz-transition:opacity 1s ease-in-out;-o-transition:opacity 1s ease-in-out;transition:opacity 1s ease-in-out;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-position:center center;background-repeat:no-repeat;height:100%;overflow:hidden;width:100%}
.mc-old-browser .mc-image{overflow:hidden}
header.header{position:relative;min-height:633px}
.top_header{padding-top:15px}
.header_menu ul{text-align:right}
.header_menu ul li{display:inline-block}
.header_menu ul li a{padding:10px 15px;color:#fff;font-weight:400;text-transform:uppercase;letter-spacing:.6px;display:block;margin-top:2px;text-decoration:none;position:relative}
.header_menu ul li a:hover{color:#d01e10}
.header_menu ul li.Register a{border:solid 2px #fff;border-radius:5px;padding:6px 16px}
.header_menu{margin-top:5px}
.header_menu ul li.Register a{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px transparent;position:relative}
.header_menu ul li.Register a:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#d01e10;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.header_menu ul li.Register a:hover{color:#fff;border-color:#d01e10}
.header_menu ul li.Register a:hover:before{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transition-timing-function:cubic-bezier(0.52,1.64,0.37,0.66);transition-timing-function:cubic-bezier(0.52,1.64,0.37,0.66)}
.slider_content{text-align:center;margin-top:150px}
.slider_content h1{font-size:85px;color:#fff;font-family:'TimeBurner';font-weight:400}
.search_form{margin-top:210px}
.search_form .form_main{float:left;width:100%;background:#fff;padding:30px;box-shadow:0 2px 6px rgba(0,0,0,0.1);text-align:center}
.search_form .form_main ul.search_Category{list-style:none;margin:20px 0}
.search_form .form_main ul.search_Category.search_Category .dropdown-menu li { display: block; }
.search_form .form_main ul.search_Category.search_Category .dropdown-menu li:last-child a.more_sub_cat { color: #D02600 !important;text-decoration: underline !important; }
/*.search_form .form_main ul.search_Category.search_Category .dropdown-menu { height: auto;max-height: 300px;overflow-x: hidden; }*/
.search_form .form_main ul.search_Category li{ display:inline-block;margin:0 15px;padding: 5px; }
.search_form .form_main ul.search_Category li a{ color:#666;font-weight:600; }
.search_form .form_main ul.search_Category li a i{font-size:16px;display:inline-block;vertical-align:middle}
.search_form .form_main ul.search_Category li a i.icofont.icofont-fork-and-knife{font-size:20px}
.search_form .form_main ul.search_Category li a i.icofont.icofont-fast-delivery{font-size:30px}
.search_form .form_main ul.search_Category li a:hover{color:#d01e10}
.search_form .form_main form.seacrg_city input.form-control{height:48px;box-shadow:none;border:solid 1px #cecece}
.search_form .form_main form.seacrg_city .input-group-addon{font-weight:600;font-size:18px;color:#333;background:#f4f4f4}
.search_form .form_main form.seacrg_city button.search_city_btn{background:#d01e10;border:none;height:48px;width:64px;font-size:25px;outline:none}
.search_form .form_main form.seacrg_city .custom_column{float:none;display:inline-block;margin:0 -2px;vertical-align:middle}
.Browse-Category{ text-align:center;margin-bottom:70px }
.heading h2{ text-transform:uppercase;font-size:21px;font-weight:600;color:#4c4c4c;margin:0;position:relative }
.Browse-Category .heading h2{ margin:55px 0 25px}
.heading h2:after{ height:1px;width:75px;position:absolute;bottom:-4px;background:#b8b8b8;margin:0 auto;left:0;right:0 }
.Browse-Category p{color:#8c8c8c;font-size:17px;letter-spacing:.5px}
.Browse-Category ul.Category_listing{text-align:left;float:left;width:100%;margin-top:35px}
.Browse-Category ul.Category_listing li{width:100%;max-width:25%;float:left;padding:10px}
.Browse-Category ul.Category_listing li a{display:block;min-height:83px;border:solid 1px #bebebe;text-align:center;line-height:83px;font-size:23px;font-weight:100;color:#3a3a3a;border-radius:5px}
.Browse-Category ul.Category_listing li a i{font-size:40px;display:inline-block;vertical-align:middle;color:#777;-webkit-transition:all .4s;-moz-transition:all .4s;-ms-transition:all .4s;transition:all .4s}
.Browse-Category ul.Category_listing li a .three_dots{display:inline-block;vertical-align:middle}
.Browse-Category ul.Category_listing li a .three_dots i{font-size:7px;margin:-5px 4px 0 0}
.Browse-Category ul li a:hover{background:#d01e10;border-color:#d01e10;color:#fff}
.Browse-Category ul li a:hover i{color:#fff}
.New_arrival .heading_m{position:relative;border-bottom:solid 1px #c7c7c7;float:left;width:100%;padding-bottom:10px}
.New_arrival .heading_m h2{text-transform:uppercase;font-size:21px;font-weight:600;color:#4c4c4c;margin:0;position:relative;margin-top:10px;display:inline-block}
.New_arrival .heading_m .find_cities{float:right;background:#d01e10;padding:5px 20px;border-radius:5px;color:#fff;cursor:pointer}
.New_arrival .heading_m .find_cities .dots{display:inline-block;font-size:5px;vertical-align:middle;margin-right:5px}
.New_arrival .heading_m .find_cities .dots i.fa{display:block;vertical-align:middle;margin:3px 0}
.New_arrival .heading_m .find_cities .city_list{position:absolute;right:0;top:37px;width:0;min-height:0;background:#fff;z-index:9;padding:0;box-shadow:0 5px 7px 0 rgba(0,0,0,0.11);border-radius:500px;overflow:hidden;opacity:0;visibility:hidden;-webkit-transition:all .4s;-moz-transition:all .4s;-ms-transition:all .4s;transition:all .4s}
.New_arrival .heading_m .find_cities.open .city_list{width:100%;min-height:500px;opacity:1;visibility:visible;border-radius:0;padding:15px}
.New_arrival .heading_m .find_cities.open{cursor:default}
.ca-container{position:relative;margin:25px auto 20px;width:100%;height:350px}
.ca-wrapper{width:100%;height:100%;position:relative}
.ca-item{position:relative;float:left;width:33.3333%;height:100%;text-align:center}
.ca-item .item_l{padding:0 15px}
.item_l .image{display:block;overflow:hidden;position:relative;min-height:230px;border-radius:10px}
.item_l .image img{position:absolute;width:100%;height:100%;background-color:#ccc;-ms-object-fit:cover;-moz-object-fit:cover;-o-object-fit:cover;-webkit-object-fit:cover;object-fit:cover;overflow:hidden;left:0;top:0}
.item_l .item_content{background:#fff;overflow:hidden;border-radius:5px;box-shadow:0 13px 40px rgba(0,0,0,0.14);position:relative;width:90%;padding:15px;margin:-50px auto 0;text-align:left}
.item_l .item_content h3{margin:5px 0 0;font-size:18px;color:#0073bb;font-weight:700}
.item_l .item_content h4{font-size:15px;color:#636363;font-weight:100;margin-bottom:4px}
.item_l .item_content p{font-size:14px;color:#a8a8a8;font-weight:100;margin-bottom:20px}
.item_l .item_content span{color:#d01e10}
.item_l .item_content .ratting_star span{font-size:22px;display:inline-block;color:#e0e0e0}
.item_l .item_content .ratting_star span .yallow{color:#fea630}
span.ca-nav-prev,span.ca-nav-next{position:absolute;left:-30px;top:30%;transform:translate(-0%,-50%);width:30px;overflow:hidden;text-indent:100px;height:40px;cursor:pointer}
span.ca-nav-next{left:inherit;right:-30px}
span.ca-nav-prev:before,span.ca-nav-next:before{content:"\f104";display:inline-block;font:normal normal normal 14px/1 FontAwesome;position:absolute;left:0;text-indent:0;font-size:50px;top:-6px;color:#d8d8d8}
span.ca-nav-next:before{content:"\f105";left:inherit;right:0}
.New_arrival{float:left;width:100%;background:#fff;padding-top:60px}
.Review_of_the_Day_main{float:left;width:100%;padding:50px 0 60px}
.Review_of_the_Day_main .heading h2:after{margin:0}
.Review_of_the_Day_main .ROTD{margin-top:40px;background:#fff;padding:10px;border-radius:5px;box-shadow:0 13px 40px rgba(0,0,0,0.14)}
.Review_of_the_Day_main .ROTD .Rimg{width:88px;height:88px;overflow:hidden;position:relative;border-radius:5px;display:inline-block}
.Review_of_the_Day_main .ROTD .Rimg img{position:absolute;width:100%;height:100%;background-color:#ccc;-ms-object-fit:cover;-moz-object-fit:cover;-o-object-fit:cover;-webkit-object-fit:cover;object-fit:cover;overflow:hidden;left:0;top:0}
.Review_of_the_Day_main .ROTD .Review_name{display:inline-block;vertical-align:top;padding-left:15px}
.Review_of_the_Day_main .ROTD .Review_name h4{margin-top:0;color:#0073bb;font-weight:600}
.Review_of_the_Day_main .ROTD .Review_name h5{font-weight:100;color:#595959}
.Review_of_the_Day_main .ROTD .Review_name h5 span{font-weight:700;color:#d01e10}
.Review_of_the_Day_main .ROTD .content{color:#595959;margin:10px 0 12px;font-weight:100}
.Review_of_the_Day_main .ROTD .review_footer{border-top:solid 1px #ddd;padding:15px 15px 40px 0}
.Review_of_the_Day_main .ROTD .review_footer .ratting_star{display:inline-block}
.Review_of_the_Day_main .ROTD .review_footer .ratting_star span{display:inline-block;vertical-align:middle;font-size:25px}
.Review_of_the_Day_main .ROTD .review_footer .ratting_star span .yallow{color:#fea630}
.Review_of_the_Day_main .ROTD .review_footer .ratting_star span i{height:30px;display:inline-block;color:#e0e0e0;position:relative;top:-4px}
.Review_of_the_Day_main .ROTD .Continue-reading{float:right}
.Review_of_the_Day_main .ROTD .Continue-reading a{background:#d03310;display:block;color:#fff;padding:9px;border-radius:5px}
.RecentLists{margin-top:40px;background:#fff;padding:10px;border-radius:5px;box-shadow:0 13px 40px rgba(0,0,0,0.14); }
.RecentLists ul li a .image_r{width:70px;height:70px;overflow:hidden;position:relative;border-radius:5px;display:inline-block;vertical-align:top}
.RecentLists ul li a .image_r img{position:absolute;width:100%;height:100%;background-color:#ccc;-ms-object-fit:cover;-moz-object-fit:cover;-o-object-fit:cover;-webkit-object-fit:cover;object-fit:cover;overflow:hidden;left:0;top:0}
.RecentLists ul li a .RecentL_contant{width:calc(100% - 74px);display:inline-block;vertical-align:top;padding-left:10px}
.RecentLists ul li a .RecentL_contant h5{margin-top:0;font-size:14px;color:#d03310;font-weight:700;margin-bottom:5px}
.RecentLists ul li a .RecentL_contant p{font-size:13px;color:#595959}
.RecentLists ul li{border-bottom:solid 1px #ddd;padding-bottom:10px;padding-top:10px}
.RecentLists ul li:last-child{border-bottom:none;padding-bottom:0}
.RecentLists ul li:first-child{padding-top:0}
.news_letter{background:url(../images/news-latter-back.png);min-height:390px;display:block;float:left;width:100%;margin-top:20px;text-align:center}
.news_letter h2{margin-top:100px;color:#fff;font-size:22px;margin-bottom:20px}
.news_letter p{color:#fff;font-size:17px}
.news_letter form .news_letter_input{position:relative;max-width:80%;margin:0 auto}
.news_letter form{margin-top:35px}
.news_letter form .news_letter_input input[type="text"]{height:55px;width:100%;border:none;border-radius:7px;padding-left:20px;outline:none}
.news_letter form .news_letter_input button.Subscribe_btn{position:absolute;right:10px;top:10px;height:35px;width:110px;background:#d03310;border:none;color:#fff;border-radius:5px;outline:none}
.caret-up { border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 4px dashed;display: inline-block;height: 0;margin-left: 2px;vertical-align: middle;width: 0; }
.ads-container .item.slick-slide img{ margin: 0 auto; }
.ads-container .slick-list { overflow: hidden !important; }
.ads-content .item{ padding: 5px; }
footer h2 {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
    color: #4c4c4c;
    position: relative;
    margin-bottom: 25px;
}
footer .address address {
    font-size: 15px;
    color: #616161;
    font-weight: 100;
}
footer .address address span {
    color: #d03310;
    font-weight: 400;
}
footer .address ul.footer_social li {
    display: inline-block;
}
footer .address ul.footer_social li a {
    display: block;
    font-size: 23px;
    margin: 0px 10px;
    color: #878a8d;
}
footer .address ul.footer_social li a:hover {
    color: #d03310;
}
.info-Link ul li a {
    color: #616161;
    line-height: 25px;
}
.info-Link ul li a:hover {
    color: #d03310;
}	
.instagram_gallery ul li {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
.instagram_gallery ul li a img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    -ms-object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    -webkit-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    left: 0;
    top: 0;
}
.bottom_footer {
    border-top: solid 1px #ddd;
    margin-top: 30px;

}
.bottom_footer .copyright {
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
    padding: 15px 0;
}
.bottom_footer p#back-top {
    float: right;
    padding: 0;
    margin: 0;
}
.bottom_footer p#back-top a {
    background: #d03310;
    width: 51px;
    display: block;
    height: 51px;
    text-align: center;
    line-height: 46px;
    font-size: 35px;
    color: #fff;
}
button.menu_mobile{display: none;}
.pac-container.pac-logo { z-index: 2000; }
#myModal.modal { text-align: center;padding: 0!important; }
#myModal.modal:before { content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -4px; }
#myModal .modal-dialog { display: inline-block;text-align: left;vertical-align: middle; }

.account-header .search_form .form_main {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
    padding: 0;
}
.account-header .search_form {
    margin: 0;
}
.search_form.menus-wrp .search_Category {
    margin: 0 !important;
}
.search_form.menus-wrp {
    background: rgb(208, 38, 0) none repeat scroll 0 0;
}
.search_form.menus-wrp  .form_main ul.search_Category li a { color: rgb(255, 255, 255); }
.search_form.menus-wrp  .form_main ul.search_Category .dropdown-menu a { color: #666; }
.account-header .top_header {
    /*  background: #d03c1b url("../images/header_stars.png") no-repeat scroll center center;*/
    background: #331008 url("../images/header_stars.png") no-repeat scroll center center;
    padding: 12px 0;
    position: relative;
}
.menus-wrp.search_form .form_main{
    text-align: left;
}
.notification_wrp li {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}
.notification_wrp li a {
    border-radius: 4px;
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}
.notification_wrp li a:hover, .notification_wrp li a:focus{
    background: rgba(51, 51, 51, 0.3) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.user-account_avatar {
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    float: left;
}
header.account-header{
    min-height: auto;
}

.signup-wrapper .signup-form-container .header {
    margin-bottom: 30px;
}
.signup-wrapper h2 {
    color: rgb(211, 35, 35);
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}
.signup-wrapper .signup-form-container p.subheading {
    font-weight: bold;margin-bottom: 12px;
}
.signup-link {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    color: rgb(0, 115, 187);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
.legal-copy {
    color: rgb(102, 102, 102);
    font-size: 12px;
    line-height: 1.5em;
}
.signup-wrapper .subheading {
    font-weight: bold;
}
section.login-wrp {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    padding: 100px 0;
}
.signup-wrapper {
    text-align: center;
}


/********social icons********/
.btn-social {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding-left: 30px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 180px;
}
.btn-social *:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    bottom: 0;
    font-size: 16px;
    left: 5px;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 32px;
}
.btn.btn-social.btn-facebook {
    float: left;
}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-google-plus {
    background-color: rgb(221, 75, 57);
    border-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    float: right;
}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,
.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] 
.btn-google-plus:hover,.btn-google-plus.disabled:focus,
.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,
.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] 
.btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,
fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
/********end social icons********/
.social-buttons {
    display: inline-block;
    margin: 0;
    width: 100%;
}
.login-form {
    margin: 20px 0px;
}
.forgot-password {
    float: right;
    margin: 0px 0px 15px;
}
.signup-wrapper .btn.btn-lg.btn-success {
    background: rgb(2, 19, 31) none repeat scroll 0 0;
    border-color: rgb(2, 19, 31);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.28571em;
    margin-top: 30px;
    padding: 12px 19px;
}
.sub-text-box {
    float: right;
    margin: 10px 0;
}
.login-form input {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: none;
}

.hr-line {
    margin: 24px 0;
}
.hr-line {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgb(204, 204, 204) currentcolor rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    margin: 20px 0;
    text-align: center;
}
.hr-line legend {
    border: medium none;
    color: rgb(102, 102, 102);
    display: inline-block;
    font-size: 1em;
    margin: 0 auto;
    padding: 0 15px;
    width: auto;
}
.row1 {
    margin: 0 -5px;
}
.row1 .col-sm-6,.row1 .col-sm-4{
    padding: 0 5px;
}
.more-fields select {
    width: 100%;
}
.more-fields {
    display: inline-block;
    text-align: left;
    width: 100%;
}
.more-fields select {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    min-height: 30px;
    padding: 5px;
}
.account-header .search_form .form_main form.seacrg_city input.form-control{
    height: 40px;
}
.account-header .search_form .form_main form.seacrg_city button.search_city_btn {
    background: rgb(208, 38, 0) none repeat scroll 0 0;
    font-size: 20px;
    height: 40px;
    width: auto;
}
/*******/
.drop-menu .dropdown {
    left: 100%;
    position: absolute;
    right: auto;
    top: 0;
}
.drop-menu {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
}
.dropdown button.btn {
    background-color: rgb(208, 38, 0);
    border-radius: 0 4px 4px 0;
    min-height: 37px;
    padding: 5px;
}
.dropdown button.btn .caret{
    color:#fff;
}
.user-account_avatar img {
    border-radius: 2px 0 0 2px;
    height: 37px;
    line-height: 0;
    max-width: 36px;
}
.notification_wrp {
    float: right;
}
.drop-menu .dropdown-menu {
    left: auto;
    min-width: 200px;
    padding: 10px;
    right: 0;
}
.drop-menus-1 li {
    display: inline-block;
    width: 100%;
}
.per-img {
    display: inline-block;
    width: 60px;
}
.detail-per {
    display: inline-block;
    margin-left: 5px;
    text-align: left;
    vertical-align: top;
    width: calc(100% - 70px);
}
.detail-per h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
}
.detail-per p {
    margin-bottom: 0;
}
.drop-menus-2 {
    border-bottom: 1px solid rgb(238, 238, 238);
    border-top: 1px solid rgb(238, 238, 238);
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0;
}
.dropdown li a {
    color: rgb(51, 51, 51);
    margin-bottom: 5px;
    padding: 5px 10px;
    width: 100%;
}
.dropdown-menu li a i {
    width: 30px;
}

.card .title {
    position: relative;
    z-index: 1;
    border-left: 5px solid #ec2652;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color:#ec2652;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}
.card .input-container {
    display: inline-block;
    margin: 0 0 10px;
    position: relative;
    width: 100%;
}
.card .input-container input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: rgb(33, 33, 33);
    font-size: 20px;
    font-weight: 400;
    height: 54px;
    outline: medium none;
    position: relative;
    width: 100%;
    z-index: 1;
}
.card .input-container input:focus ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
    width: 50%;
}
.card .input-container input:valid ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
.card {
    display: inline-block;
    margin: 0 auto;
    padding: 40px;
    width: 100%;
}
.card .input-container .bar {
    background: rgb(204, 204, 204) none repeat scroll 0 0;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.card .input-container .bar::before, .card .input-container .bar::after {
    background: rgb(208, 51, 16) none repeat scroll 0 0;
    content: "";
    height: 2px;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 0;
}
.card .input-container .bar:before {
    left: 50%;
}
.card .input-container .bar:after {
    right: 50%;
}
.col-wrp {
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: table;
    width: 100%;
}
.col-sign {

    margin: 0 auto;
    max-width: 500px;
}
.signup-wrapper .header {
    margin-bottom: 30px;
}
/*.form-group {
  position: relative;
}*/
.input-container .form-group {
    margin: 0;
}
.col-wrp .col-6 {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
.side-img {
    background: rgb(2, 19, 31) none repeat scroll 0 0;
    border-radius: 5px 0 0 5px;
}
.side-img img { margin:0 auto;max-width: 310px; }

/********************/


.titled-nav_items li a::before {
    background: rgb(211, 35, 35) none repeat scroll 0 0;
    bottom: 0px;
    content: "";
    left: 0;
    position: absolute;
    top:auto;
    width: 0px;
    transition: 0.5s;
    z-index: 1;
    top:0px;
}
.titled-nav_items li a.active::before,.titled-nav_items li a:hover::before {
    width: 3px;
}
.titled-nav_items li a {
    color: rgb(51, 51, 51);
    display: inline-block;
    padding: 10px;
    position: relative;
    width: 100%;
}
.titled-nav_items ul li:hover a, .titled-nav_items ul li a.active {
    background-color: rgb(249, 249, 249);
}
.titled-nav_items li {
    background-color: rgb(238, 238, 238);
    margin-bottom: 5px;
}
.titled-nav-header_content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.form-row {
    margin-left: -15px;
    margin-right: -15px;
}
.form-group .pro-browse { border: 1px solid rgb(204, 204, 204);padding: 10px; }
.profile-inner-content form {
    background-color: rgb(249, 249, 249);
    border: 3px solid rgb(241, 241, 241);
    padding: 20px;
    margin-top: 16px;
}
.profile-outer-main input, .profile-outer-main select {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: none;
    min-height: 40px;
    padding: 10px;
    width: 100%;
}
.profile-inner-content .form-group {
    position: static;
}
.profile-inner-content label {
    margin-bottom: 0;
}
.help-block {
    font-size: 11px;
    margin-top: 0;
}
.profile-outer-main .form-check-label input{
    min-height: inherit;
}
.form-check-label {
    font-weight: normal;
}
.profile-outer-main textarea {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    width: 100%;
}
.profile-outer-main button.btn.btn-primary,.profile-outer-main a.btn.btn-primary { background-color: rgb(208, 38, 0);border: medium none rgb(208, 38, 0);font-weight: bold;min-width: 150px;padding: 10px; }
.profile-outer-main button.btn.btn-default,.profile-outer-main a.btn.btn-primary { font-weight: bold;min-width: 150px;padding: 10px; }
.profile-outer-main { margin: 50px 0; }
.profile-outer-main .radio-btn .form-check-label input { width: auto; }
.profile-outer-main .content-header { border-bottom: 1px solid #e6e6e6; }
.profile-outer-main .content-middle { padding: 15px; }
#ads_tab.tab .nav-tabs { border-bottom: medium none;position: relative; }
#ads_tab.tab .nav-tabs li.active a, #ads_tab.tab .nav-tabs li.active a:focus, #ads_tab.tab .nav-tabs li.active a:hover { border: medium none;color: #D0261F; }
#ads_tab.tab .nav-tabs li a:hover::before, #ads_tab.tab .nav-tabs li.active a::before, #ads_tab.tab .nav-tabs li a:hover::after, #ads_tab.tab .nav-tabs li.active a::after { transform: scale(1); }
#ads_tab.tab .nav-tabs li a { border: medium none;border-radius: 0;color: #25283d;font-size: 17px;font-weight: 600;margin-right: 0;padding: 20px 15px;position: relative;text-transform: uppercase;transition: all 0.5s ease 0s; }
#ads_tab.tab .nav-tabs li a::before { background: #D0261F none repeat scroll 0 0;bottom: 5px;content: "";height: 1px;left: 0;position: absolute;transform: scale(0);transition: all 700ms ease 0s;width: 100%; }
#ads_tab.tab .nav-tabs li a::after { background: #D0261F none repeat scroll 0 0;border-radius: 50%;bottom: 2px;content: "";height: 7px;left: 0;margin: 0 auto;position: absolute;right: 0;transform: scale(0);transition: all 700ms ease 0s;width: 7px; }

/*--plan css start here--*/
.pricing-grid{ width: 31.5%;float: left;text-align: center;margin-right: 2%;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;padding: 0;border: none;border-radius: 0.7em;-webkit-border-radius: 0.7em;-o-border-radius: 0.7em;-moz-border-radius: 0.7em; }
.pricing-grid:hover{ transform: scale(1.05);-webkit-transform: scale(1.05);-moz-transform: scale(1.05);-o-transform: scale(1.05);-ms-transform: scale(1.05);z-index: 1;border: none; }
.pricing-grid { margin-right: 0;padding: 0 10px; }
.price-value h2 a,.price-value h3 a,.price-value h4 a{ font-size: 30px;color:#fff; }
.price-value h3{ padding-top: 10px; }
.price-value{ background: #D03C1B;border-bottom:2px solid #d03c1b;border-top-left-radius:0.7em;-webkit-border-top-left-radius:0.7em;-o-border-top-left-radius: 0.7em;-moz-border-top-left-radius:0.7em;border-top-right-radius:0.7em;-webkit-border-top-right-radius:0.7em;-o-border-top-right-radius:0.7em;-moz-border-top-left-radius: 0.7em;position: relative; }

.price-value ul,.pricing-grid ul{ padding: 0; }
.price-value ul li,.pricing-grid,.pricing-grid ul li{ list-style: none; }
.pricing-grid ul li a{ color: #C7C4C4;font-size: 15px;text-align: center;display: block;padding: 16px 0;text-decoration: none;font-weight: 400; }
.pricing-grid ul li.whyt a{ background:#f4f4f4; }
.pricing-grid:hover div.price-bg ul li a { color:#D03C1B; }
.price-bg { background: #fff; }
.price-bg ul { padding: 0; }
.price-bg ul li{ list-style: none; }
.cart{ padding: 2.7em 0em 2.7em;display: block;border-bottom: 2px solid#f96d70; }
.cart a{ color: #FFF;font-size: 0.9em;font-weight: 500;padding: 0.8em 2em;text-decoration: none;background: #D03C1B;text-transform:uppercase;-webkit-appearance:none;border-radius:1em;-webkit-border-radius:1em;-o-border-radius:1em;-moz-border-radius:1em;outline: none; }
.cart a:hover{ color: #2b2b33;}
.extra .nowrap { font-weight: bold;color: #41a700; }
.extra .nowrap.clse { color: #d03310; }
/*--plan css end here--*/


.biz-rating {
    display: inline-block;
    vertical-align: middle;
}

.biz-rating ul li { border-radius: 2px;color: rgb(255, 255, 255);font-size: 20px;display: inline-block; }
.biz-rating ul li label{ margin-bottom: 0; }
.biz-rating ul li i { font-size: 18px;padding: 7px; }
.rating { background-color: rgb(204, 204, 204); }
.biz-rating ul li.cou-rate { color: inherit; }
.rating1 { background-color: #F2BD79; }
.rating2 { background-color: #FEC011; }
.rating3 { background-color: #FF9242; }
.rating4 { background-color: #F15C4F; }
.rating5 { background-color: #D32323; }
.rating-details, .rating-detail {
    display: inline-block;
    vertical-align: middle;
}
.review-count {
    color: rgb(102, 102, 102);
    font-weight: bold;
    padding: 0px 10px;
}
.category-str-list {
    display: inline-block;
    font-size: 16px;
    padding: 0 10px;
    vertical-align: middle;
}
.bullet-after {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}
.edit-category {
    display: inline-block;
    vertical-align: middle;
}
.price-category {
    padding: 10px 0;
}
.rating-details a {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    color: rgb(153, 153, 153);
    font-size: 13px;
    padding: 0 5px;
}
.rating-details a i {
    margin-right: 3px;
}
.rating-details a:hover{
    color: #666;
    border: 1px solid #666;
}
.mapbox-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.mapbox-text {
    padding: 10px 0px 0px;
    position: relative;
}
.map-box-address::before {
    content: "\f041";
    font-family: fontawesome;
    font-size: 20px;
    left: 0;
    position: absolute;
    color: #D02600;
    top: 0;
    vertical-align: middle;
}
.map-box-address {
    padding-left: 20px;
    position: relative;
    display: inline-block;
}
.link-more {
    position: absolute;
    right: 15px;
    top: 10px;
}
.map-box-address address {
    margin-bottom: 0;
}
.mapbox-text li {
    margin-bottom: 6px;
}
.direction .map-box-address::before {
    content: "\f047";
    font-size: 14px;
}
.ph-call .map-box-address::before{
    content: "\f095";
    font-size: 14px;
}
.message-map .map-box-address::before{
    content: "\f0e0";
    font-size: 14px;
}
.mob-call .map-box-address::before{
    content: "\f10b";
    font-size: 20px;
    top:-5px;
}
.mapbox-text li a {
    color: rgb(51, 51, 51);
    text-decoration: underline !important;
}
.category-str-list a{
    color: rgb(208, 38, 0);
}
.sidebar-map-wrap h2 {
    margin-top: 0;
}
.biz-page-actions .review-btn {
    background: rgb(208, 38, 0) none repeat scroll 0 0;
    border: 1px solid rgb(208, 38, 0);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    padding: 10px 20px;
    vertical-align: middle;
    display: inline-block;
}
.biz-page-actions {
    float: right;
}
.biz-page-actions .review-btn i {
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
.allbtn-group a {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    color: rgb(102, 102, 102);
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    vertical-align: middle;
}
.allbtn-group a i {
    margin-right: 5px;
}
.photo-box-overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bold;
    left: 0;
    line-height: 1.5em;
    overflow: hidden;
    padding: 3px 6px;
    position: absolute;
    right: 0;
    transition: all 0.3s ease-in-out 0s;
}

.lightbox-media-parent { display: inline-block;height: 250px;position: relative;transform-style: preserve-3d;width: 660px;margin: 0px 0px 40px; }
.lightbox-media-parent .js-photo.photo2, .lightbox-media-parent:hover .js-photo:hover {
    box-shadow: 0 0 25px -3px rgba(0, 0, 0, 0.5);
    transform: translateZ(1px);
    z-index: 1001;
}
/*.lightbox-media-parent .photo2 {
    left: 220px;
}
.lightbox-media-parent  .photo3 {
    left: 440px;
}*/
#content:not(:hover) .lightbox-media-parent .photo2 {
    transform: translateZ(0px);
}
.biz-page-header-right {
    text-align: center;
}
.lightbox-media-parent .js-photo,.lightbox-media-parent:hover .js-photo{
    box-shadow: none;
    display: block;
    height: 250px;
    margin: 0px -15px;
    position: absolute;
    transform: scale(0.88) translateZ(0px);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    width: 250px;
    z-index: 1000;
}
.lightbox-media-parent  .js-photo.photo2 .photo-box-overlay,.lightbox-media-parent:hover .js-photo:hover .photo-box-overlay {
    opacity: 1;
}
.lightbox-media-parent .js-photo .photo-box-overlay, .lightbox-media-parent:hover .js-photo .photo-box-overlay {
    opacity: 0;
}
.media-story {
    color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 35px);
}
.media-avatar {
    display: inline-block;
    vertical-align: middle;
}
.photo-desc {
    color: rgb(255, 255, 255);
    font-weight: normal;
}
.media-story {
    color: rgb(255, 255, 255);
    display: inline-block;
    line-height: normal;
    vertical-align: top;
    width: calc(100% - 35px);
}
.user-display-name {
    color: rgb(255, 255, 255);
}
.person-detail {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.img-side {
    display: inline-block;
    vertical-align: middle;
}
.user-name {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
.user-name h5 {
    color: rgb(208, 38, 0);
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}
.review-by-people {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 220px);
}
.people-review .review-inner {
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: 40px;
    padding-top: 40px;
}

.review-by-people > p {
    margin: 20px 0;
}
.voting-buttons li {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    display: inline-block;
    padding: 5px 10px;
}
.voting-buttons li a {
    color: rgb(102, 102, 102);
}
.voting-buttons i {
    margin-right: 5px;
}
.review-written{
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    padding: 30px;
}
.rating-and-comment {
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.star-selector { display: inline-block;margin-left: 10px; }
.profile-outer-main .review-widget textarea { /*  border: medium none;*/border-radius: 5px;min-height: 200px;width: 100%; }
.write-review { margin: 40px 0; }
.review-main a:focus,.review-main a:hover { /*    color: rgb(255, 255, 255);*/text-decoration: underline; }
.photo3 .showcase-photo-box { position: relative; }
.view-more { color: rgb(255, 255, 255);font-size: 14px;left: 50%;position: absolute;text-align: center;top: 50%;transform: translateY(-50%) translateX(-50%); }
.view-more i { font-size: 25px; }
.view-more > p { font-size: 15px;margin: 0; }
.notification_wrp .header_menu ul li { display: inline-block;width: auto; }
.notification_wrp .header_menu ul li a { background-color: rgb(208, 38, 0);display: inline-block;margin: 0;min-width: auto;padding: 10px; }
.notification_wrp .header_menu ul li a:hover{ color: #fff; }
.header_menu .dropdown-menu ul li { width: 100%; }
.header_menu .dropdown-menu ul li a { color: rgb(51, 51, 51);margin-bottom: 5px;text-align: left;text-transform: capitalize;padding: 5px 10px;border-radius: 4px;width: 100%; }
.header_menu .dropdown-menu ul li a:hover{ background: rgba(51, 51, 51, 0.3) none repeat scroll 0 0;color: rgb(255, 255, 255);text-decoration: none; }
.biz-page-header-right .slick-slider { overflow: hidden;display: inline-block; }
.slick-list { overflow: visible !important; }
.slick-initialized .slick-slide{ position: relative;display: inline-block !important; }
.slickSlider .slick-prev { left: 5px;opacity: 1;z-index: 99; }
.slickSlider .slick-next { opacity: 1;right: 5px; z-index: 99; }
.biz-rating ul li label input { -moz-appearance: none;border: medium none;height: 0px;margin: -3px;opacity: 0;padding: 0;width: 0px;min-height: inherit; }
.biz-rating ul li label { cursor: pointer; }
.content-middle.search-wrap { margin: 0 auto;max-width: 950px; }
.search-wrap .thumbnail a, .search-wrap .thumbnail a img { height: 200px;object-fit: cover;width: 100%; }
.search-wrap .biz-rating ul li { font-size: 14px;vertical-align: middle; }
.search-wrap .thumbnail .caption span a { display: inline-block;font-size: 16px;font-weight: bold;height: auto;margin-bottom: 10px; }
.search-wrap .thumbnail{ min-height: 340px; }
.business-date-opened { color: hsl(23, 100%, 47%);margin: 0; }
/*.description-search { display: inline-block;width: 100%; }*/
.search-wrap span { display: inline-block; }
.business-date-opened{ margin-top: 10px; }
.business-date-opened i { margin-right: 10px;}
.search-wrap .biz-rating { margin-bottom: 10px; }
.business-event-wrap .thumbnail { margin: 0; }
.business-event-wrap { background: hsl(0, 0%, 100%) none repeat scroll 0 0;border: medium none;box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.1);display: inline-block;border: 1px solid hsl(0, 0%, 93%);padding: 20px;width: 100%; }
.profile-outer-main .timepicker button.btn.btn-primary, .profile-outer-main .timepicker a.btn.btn-primary{ min-width:auto; }
.business-event-wrap .fa { display: block;margin-bottom: 10px; }
.tooltip.top{ padding: 0px !important; }
.tooltip.top .tooltip-arrow { margin-left: 0 !important; }
.profile-outer-main input[type=checkbox] { display: inline-block;position: static;width: 16px;margin: 0px 5px 0px 0px;line-height: normal;vertical-align: middle; }
.business-event-wrap a { margin-right: 3px; }
.business-event-wrap a.label { padding: 10px;margin-top: 10px;display: inline-block; }
.more_category { display: none; }
.more_category .cat_child { margin-top:10px; }
.more_category .cat_child > a { color: #3a3a3a;font-size: 19px;font-weight: 100; }
.table-responsive .table > tbody > tr > th { border-top: medium none; }
/*25oct2k17 css added*/
.review-main .biz-page-actions a:hover { background: #353433; }
input, select, button, textarea{ outline: none;}
header.header .drop-menus-2 { border-bottom: none;padding-bottom: 0px;margin-bottom: 0px; }
div#maximage{ width: 100% !important;}
.review-main { margin-top: 30px; }
.map-box-address a:hover,.map-box-address a:focus { color: #D02600; }
.review-main .slick-prev:before, .review-main .slick-next:before{ color: #d02600 !important;}
.list_subcat .cols { padding: 4px; }
.list_subcat .cols a:hover { text-decoration: underline !important; }
.list_subcat .cols .glyphicon.glyphicon-menu-right { font-size: 10px; }
#content .event-listing { padding-top: 20px; }
#content .static_page { margin: 50px 0 80px 0;}
#content .static_page ul {margin-top: 20px;padding-left: 15px;list-style: circle;}
#content .static_page ul li._aok { line-height: 30px; position: relative; padding-left: 0;}
#content .static_page h1.page_tital {text-align: center;margin-bottom: 35px;text-transform: uppercase;font-weight: 600; }
.bsn-btn { padding-top: 40px; }
.profile-outer-main input[type="radio"] { min-height: 0;margin: 0px 5px 0px 0px;display: inline-block;position: static;line-height: normal;vertical-align: middle;width: auto; }
/*.profile-outer-main .checkbox-inline span{ padding-left: 22px; }*/
.amenities-list li { border-top: 1px solid #ddd;padding: 8px; }
.amenities-list li::before { content: "\f00c";font: normal normal normal 14px/1 FontAwesome; color: #41a700;font-size: 15px; }
.amenities-list li span.hour_collapse { float: right;font-size: 20px;cursor: pointer; }
.amenities-list .hours_details { display:none; }
.amenities-list .hours_details ul li:before { content:none; }
.amenities-list .hours_details ul li { border:none; }
.event-listing .day_deal p { color: hsl(23, 100%, 47%);margin-top: 10px; }
.event-listing .day_deal i { margin-right: 10px; }
.sidebar-map-wrap .day_deal p { display: inline-block;font-weight: bold; }
.sidebar-map-wrap .day_deal span { padding-left: 17px;color: rgb(208, 38, 0); }


/**** map popup ****/

#fancybox-wrap {
    top: 50% !important;
    left: 50% !important;
    width: 100% !important;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#fancybox-wrap #fancybox-content { width: 100% !important;border-width: 0 !important; }
.biz-main-info .ld { border-right: 1px solid rgb(221, 221, 221);padding: 12px; }
.biz-main-info span.btn { border: 1px solid rgb(221, 221, 221); }
.biz-main-info span.btn i.fa-thumbs-o-up { font-size: 18px;margin-right: 3px; }
.biz-main-info span.btn.set i { color: #337ab7; }
.biz-main-info span.btn.set:after { content: "\f0d7";font: normal normal normal 14px/1 FontAwesome;padding-left: 4px; }
.biz-main-info span.btn.set.open { position: relative; }
.biz-main-info span.btn.set.open .dropdown-menu { min-width: 94px;padding: 0px; }
.biz-main-info span.btn a { color: inherit; }
.biz-main-info .mapbox-container span.like-count { font-size: 25px; }
/*media query css*/
@media(max-width:1024px){
    .row{ margin-left: 0px; margin-right: 0px; }
    .New_arrival .ca-nav { display: block; }
    .review-main .lightbox-media-parent{ width: 100%; }
}


@media(max-width: 767px){
    .biz-page-actions .review-btn{margin-bottom: 10px;}
    .biz-page-header-right .lightbox-media-parent{margin-bottom: 0px;}
    .review-main .biz-page-header-right { margin-top: 20px;text-align: left; }
    .review-main .biz-page-header-right  .biz-page-actions{float:left;}
    .review-main .lightbox-media-parent{margin-top: 20px;}
    .review-by-people { width: 100%; margin-top: 15px; }
    header.header .header_menu.open { padding-right: 0px;background: rgb(31, 30, 29); }
    .header_menu ul li a { padding: 10px 14px;border-bottom: 1px solid #313130;font-size: 13px; }
    .header_menu.open ul li:last-child .drop-menu { display: block;width: auto;margin-right: 30px;margin-top: 10px; }
    .header_menu.open ul li:last-child .drop-menu .user-account_avatar{float: none;}
    .header_menu.open .dropdown-menu ul li a { border: none; }
    .New_arrival span.ca-nav-prev:before{ left: 10px;}
    .New_arrival span.ca-nav-next:before{ right: 10px;}
    .New_arrival  .ca-container { height: 440px; }
    .search_form .form_main ul.search_Category li { margin: 0 8px; }
    .news_letter { padding-top: 25px;padding-bottom: 25px;min-height: 10px; }
    .news_letter h2{ margin-top:0px;}
    .Review_of_the_Day_main,.New_arrival{padding-top: 0px;}
    .instagram_gallery ul li { width: 23%; }
    header.header.account-header .col-md-2.col-sm-2.col-xs-8 { width: 100%; }
    header.header.account-header .logo { width: 100%;text-align: center;margin-bottom: 15px; }
    header.header.account-header .search_form .form_main .col-md-2.col-sm-1.col-xs-12.custom_column { width: auto;float: left; }
    header.header.account-header .col-sm-2.pull-right { margin-top: -55px;margin-right: 35px; }
    .profile-outer-main .business-event-wrap{ margin-bottom: 15px; }
    .seacrg_city .custom_column { padding-top: 10px; }
    #fancybox-wrap{
        -webkit-transform: translate(-50%, -0%);
        -moz-transform: translate(-50%, -0%);
        -ms-transform: translate(-50%, -0%);
        transform: translate(-50%, -0%);
        top: 0% !important;
    }
}


@media(max-width: 480px){

    .search_form .form_main ul.search_Category {
        width: 150px;
        margin: 0 auto !important;
        text-align: left;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .search_form .form_main ul.search_Category li{margin-bottom: 6px;}
    .search_form .form_main ul.search_Category li i.icofont.icofont-fast-delivery {
        font-size: 25px !important;
        margin-left: -8px;
    }

    .profile-outer-main .pricing-grid {
        width: 100%;
    }
    #fancybox-wrap{position: fixed !important;}
}

/*=== Responsive ===*/
@media (max-width: 992px){
    .header_menu ul li a{ padding: 10px 11px; }
    .header_menu ul li.Register a{ margin-top: -2px; }
    .Browse-Category ul.Category_listing li a{ font-size: 15px; }
    .Browse-Category ul.Category_listing li a i{ font-size: 30px; }
    .ca-container{ height: 500px; }
}

@media (max-width: 767px){
    button.menu_mobile { position: absolute;right: 20px;top: -45px;background: #d01e10;width: 40px;height: 40px;border: none;color: #fff;font-size: 25px;line-height: 21px;display: block;z-index: 99;outline: none; }
    .header_menu { margin-top: 5px;background: rgba(0, 0, 0, 0.56);padding-right: 15px;padding-bottom: 15px; }
    .header_menu ul li{ display: block; }
    .header_menu ul li a { padding: 10px 0px; }
    .header_menu { top: -50px;transition: all .4s;opacity: 0;vertical-align: inherit;position: absolute;width: 100%;left: 0; }
    .header_menu.open { visibility: visible;opacity: 1;top: 0; }
    .search_form .form_main form.seacrg_city .custom_column{ margin-bottom: 15px; }
    .search_form .form_main form.seacrg_city button.search_city_btn{ width: 100%; }
    .Review_of_the_Day_main .ROTD{ margin-bottom: 50px; }
    .Browse-Category ul.Category_listing li{ max-width: 50%; }
    .ca-item{ width: 50%; }
    .search_form { margin-top: 100px; }
    .ca-nav { display: none; }
    .slider_content{ margin-top: 80px; }
    .slider_content h1 { font-size: 55px; }
}

@media (max-width: 480px){
    body .mc-cycle{ height: 400px !important; }
    .slider_content { text-align: center;margin-top: 70px; }
    .slider_content h1{ font-size: 11vw; }
    .search_form { margin-top: 100px;}
    .search_form .form_main ul.search_Category li{ margin: 3px 9px; }
    .Browse-Category ul.Category_listing li { max-width: 100%; }
    .ca-item{ width: 100%; }
    .Review_of_the_Day_main .ROTD .Continue-reading { display: block;float: none;max-width: 134px;margin-top: 8px; }
    .news_letter form .news_letter_input button.Subscribe_btn { display: block;position: static;margin-top: 12px;width: 100%; }
    .col-6.side-img.text-center { display: none; }
    .btn.btn-social.btn-facebook { float: none; }
    .btn-social { width: 100%;margin-top: 5px; }
    .biz-main-info span.btn { font-size: 15px; }
    .biz-main-info .mapbox-container span.like-txt { font-size: 12px; }
}
/***********/